
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Cartelera{
    background-color: black;
    width: 400px;
    padding: 10px ;
    margin: 50px auto;
    text-align: center;
    border: 3px solid;
    box-shadow: 10px 10px 6px rgb(74, 90, 134) ;
    border-color: white;
}

.Cartelera h1{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px -3px 1px rgb(6, 115, 179);
}
.Cartelera h2{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px -3px 1px rgb(5, 113, 175);
}
.Cartelera p{
    color: white;
    text-align: justify;
    font-family: Verdana,
}
.Cartelera p.idioma{
border: 2px solid;
font-size: 10px;
border-radius: 10px;
width: 48px;
padding: 5px 5px 5px 5px;
}
.Cartelera p.regular{
    font-size: 9px;
}