body{
    background-color: black;
}


.apartado01{
border: 3px solid rgb(62, 15, 231);
width: 400px;
height: 200px;
margin: 10px auto;
background-color: rgb(132, 197, 240);
/*Aplicar border_radius:22px;*/
border-radius: 22px;
border-color: white;
}

h1{
    text-align: center;
    color: white;
    background-color: rgb(248, 28, 138);
    padding: 10px;
    margin: 10px auto;
    font-size: 40px;
    border-radius: 40px;
    border-color: white;
}

p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 17px;
    padding: 9px;
}

.apartado02{
    border: 3px solid rgb(235, 128, 6);
    width: 400px;
    height: 200px;
    margin: 10px auto;
    background-color: gray;
    border-color: white;
    /*bordes redondeados*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.apartado03{
    border: 3px solid rgb(236, 155, 5);
    width: 400px;
    height: 200px;
    margin: 10px auto;
    background-color: rgb(32, 5, 5);
    border-color: white;
/*bordes redondeados*/
border-radius: 20px 18px 25px 15px;
/*top-left,top-right/bottom-right,bottom-left*/

/*
border-radius: 20px 18px 25px;
top-bottom-left/top-bottom-right
*/

/*
border-radius:20px 18px;
*/
}